<table style="border-collapse:collapse;table-layout:fixed;margin:0 auto;border-spacing:0;padding:0;height:100%!important;width:100%!important;font-weight:normal;color:#3e4152;font-family:" roboto",Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4" height="100%" border="0" cellpadding="0" cellspacing="0" width="100%">

    <tbody>

        <tr>

            <td style="background:#ffffff;padding:16px 0">

                <table style="max-width:600px;margin:auto;border-spacing:0;background:#b319ff;padding:4px;border-radius:16px;overflow:hidden" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tbody>

                        <tr>

                            <td style="border-collapse:collapse">

                                <table style="margin:auto;border-spacing:0;background:white;border-radius:12px;overflow:hidden" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

                                    <tbody>

                                        <tr>

                                            <td style="border-collapse:collapse">

                                                <table style="border-spacing:0;border-collapse:collapse" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">

                                                    <tbody>

                                                        <tr>

                                                            <td style="border-collapse:collapse;padding:16px 32px" align="left" valign="middle">

                                                                <table style="border-spacing:0;border-collapse:collapse" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">

                                                                    <tbody>

                                                                        <tr>

                                                                            <td style="padding:0;text-align:left;border-collapse:collapse" width="40" align="left" valign="middle">

                                                                                <a style="text-decoration:none;color:#ffffff;outline:0;outline:none;border:0;border:none" target="_blank">

                                                                                    <img src="https://rtngateway.azurewebsites.net/baxter//images/logo/0ec4ad554b8e42ce0d1fa6962b901956.png" title="Logo" alt="logo" style="margin:auto;text-align:center;border:0;outline:none;text-decoration:none; height: 40px; margin-left:-15px" align="middle" border="0" class="CToWUd">
                                                                                </a>

                                                                            </td>

                                                                            <td width="16" align="left" valign="middle" style="border-collapse:collapse">&nbsp;</td>

                                                                            <td align="right" valign="middle">RTN Payment Gateway LLC</td>

                                                                        </tr>

                                                                    </tbody>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="border-collapse:collapse;padding:0 16px">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#f7f9fa !important;padding:16px !important;border-radius:8px !important;overflow:hidden">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding-bottom:16px;border-bottom:1px solid #eaeaed">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;text-transform:capitalize">

                                                                                <span style="border-collapse:collapse;font-size:16px;font-weight:500;width:100%;display:block">Transactions alert</span>
                                                                            </td>
                                                                            <td width="32" align="left" valign="middle" style="border-collapse:collapse"></td>
                                                                            <td align="right" valign="middle" style="border-collapse:collapse;font-size:20px;font-weight:500"> </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding:8px 0 0;font-size:12px;border-bottom:1px solid #eaeaed;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="28%" align="left" valign="top" style="border-collapse:collapse">Invoice No</td>
                                                                            <td width="72%" align="left" valign="top" style="border-collapse:collapse;font-weight:normal">: {0}</td>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;font-weight:normal">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>



                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding:8px 0 0;font-size:12px">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="28%" align="left" valign="top" style="border-collapse:collapse">Transaction Status</td>
                                                                            <td width="72%" align="left" valign="top" style="border-collapse:collapse;font-weight:normal">: {4}</td>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;font-weight:normal">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding:8px 0 0;font-size:12px">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="28%" align="left" valign="top" style="border-collapse:collapse">Payment Mode</td>
                                                                            <td width="72%" align="left" valign="top" style="border-collapse:collapse;font-weight:normal">: {1}</td>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;font-weight:normal">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding:8px 0 0;font-size:12px">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="28%" align="left" valign="top" style="border-collapse:collapse">Transaction Amount</td>
                                                                            <td width="72%" align="left" valign="top" style="border-collapse:collapse;font-weight:normal">: USD {2}</td>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;font-weight:normal">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;padding:8px 0 0;font-size:12px">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="28%" align="left" valign="top" style="border-collapse:collapse">Merchant</td>
                                                                            <td width="72%" align="left" valign="top" style="border-collapse:collapse;font-weight:normal">: RealTime Networking</td>
                                                                            <td align="left" valign="top" style="border-collapse:collapse;font-weight:normal">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-collapse:collapse;background:#ffffff;font-family:" roboto",Arial,Helvetica,sans-serif">
                                                <p style="padding: 32px !important">
                                                    Hi {3}         <br><br>         If you have not made this transaction or notice any error please contact us at <a style="color:#673ab7">https://rtngateway.com/</a>         <br><br>         Cheers!<br>Team <span class="il">RTN Payment Gateway LLC</span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="border-collapse:collapse;padding:16px 32px;border-top:1px solid #eaeaed;font-family:" roboto",Arial,Helvetica,sans-serif;font-size:12px">

                                                <table align="center" border="0" cellpadding="15" cellspacing="0" width="100%">

                                                    <tbody>

                                                        <tr>

                                                            <td align="left" valign="middle" style="border-collapse:collapse;font-weight:normal">

                                                                <a href="https://rtngateway.com/about" style="color:#673ab7;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none" target="_blank">About us</a>

                                                                <a href="https://rtngateway.com/privacy-policy" style="color:#673ab7;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none" target="_blank">Policy </a>

                                                                <a href="https://rtngateway.com/termsandconditions" style="color:#673ab7;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none" target="_blank">Terms</a>

                                                            </td>

                                                            <td width="16" align="left" valign="middle" style="border-collapse:collapse">&nbsp;</td>

                                                            <td align="right" valign="middle" style="border-collapse:collapse">
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td> For more questions reach us @  support@rtngateway.com / +1 (855) 396-1776 (toll free)</td>
                                                        </tr>
                                                        <tr>

                                                            <td style="border-collapse:collapse;font-weight:normal;padding-top:16px;font-style:italic;color:#7e818c" colspan="3">

                                                                Important Note: <span class="il">RTN Payment Gateway LLC</span> or its merchant partners never ask for your <span class="il">RTN Payment Gateway LLC</span> password, bank details or MPIN over email/phone. Please do not share your <span class="il">RTN Payment Gateway LLC</span> password or MPIN with anyone. For any questions reach us at <a style="color:#673ab7"></a>
                                                            </td>

                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </td>

        </tr>

    </tbody>

</table>
